[Unit]
Description=Query and compare public IP of Raspberry Pi (if changes, send an email about it)
After=network.target

[Service]
Type=simple
Environment="PYTHONPATH=$PYTHONPATH:/home/pi/Waterpump/"
ExecStart=/usr/bin/python3 /usr/bin/get_current_ip.py
Restart=always

[Install]
WantedBy=multi-user.target